<html>
    <h1>Home</h1>
    <ul>
        <% for(let i = 0; i < nameList.length; i++) { %>
            <li>
                <%= nameList[i] %>
            </li>
        <% } %>
    </ul>
</html>

